body {
  font-family: sans-serif;
  background: #DEB887	;

}

a {
  text-decoration: none;
  font-family: monospace;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: monospace;
  color: black;
  font-size: large;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

nav {
  display: flex;
  justify-content: center;
}
hr {
  display: none;
}
/* LOGIN FORM */

.login {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid wheat;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 260px;
  width: 275px;
  background-color: wheat;
  box-shadow: 7px 11px 26px #0c0c0c;

}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* All Applications */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  padding: 50px;
  border: 2px solid black;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  margin: 20px;
  background-color: wheat;
  margin-top: 60px;
}

h4 {
  height: 28px;
  font-family: 'revert';
  font-size: 21px;
  font-weight: 100;
  letter-spacing: 1.5px;
  background-color: beige;
  text-align: center;
  border-radius: 6px;
  border: solid;
  border-width: 1px;
}

.infoP {
  display: flex;
  border: solid;
  height: 42px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 186px;
  border-width: thin;
  border-radius: 20px;
  text-align: center;
  font-family: monospace;
}

.url {
  display: flex;
  border: solid;
  color: black;
  border-width: thin;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 33px;
  width: 200px;
  border-radius: inherit;
}

.ex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
}

.title {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: wheat;
  font-family: monospace;
  letter-spacing: 1.5px;
  margin-top: -7px;
  border-color: black;
}

.label {
  color: black;
  font-family: monospace;
  font-size: large;
}
